button {
    color: #F6CB0A;
    background-color: #AA1521;
    outline: none;
    border-radius: 5px;
    width: 200px;
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

button:hover{
    background-color: #CC1928;
    border-color: #CC1928;
}
button:active{
    transform: scale(0.98);
    background-color: #AA1521;
}


.list {
    margin-left: 1vw;
}


h1{
    color:#403F4C;

}
h2{
    font-family: 'Electrolize', sans-serif;
    color:#60495A;
}
