.categoryName{
    display:inline-flex;
}
.categoryType{
    display:inline
}

h3{
    display:inline  ;
}
.categoryContainer{
    border: 2px solid #AA1521;
    border-radius: 3px;
    box-sizing:inherit;
    width: 200px;
    padding: 10px;
    margin:10px;
    align-self: center;
    align-items:left;
    text-align: left;
    background-color: #FBFBFB;

}
.typeContainer{
    text-align: left;
}
.categoryList{
    display:flex;
    justify-content: center;

}