
.navbar {
  box-sizing: border-box;
  background-color: #AA1521;
  display: flex;
  height: 150px;
  vertical-align:center;


}
.navmenu{
  justify-content: left;
  display:flex;
  width: 100%;
}

.navcart{
  justify-content: right;
  display:flex;
  min-width: 10%;
}

.cart{
  height: 40px;
  margin: 55px;
  transition: transform .2s;
}
.link{

  height:40px;
  margin:55px;
  float:left;
  transition: transform .2s;

}

.logo{
  height: 100px;
  padding:10px;
  transition: transform .2s;

}
.link:hover{
  transform: scale(1.1);
}
.cart:hover{
  transform: scale(1.1);
}
.logo:hover{
  transform: scale(1.1);
}
